fastapi
uvicorn[standard]
motor
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pandas
langchain
langchain-google-genai
langgraph
langchain-community
python-dotenv
aiofiles
httpx
pydantic
pydantic-settings
email-validator
